# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build*/
CMake*
ext_*/
*.bin
scripts/rebuild/rebuild.romscript
Makefile

.*
!.gitignore
!.gitattributes
!.github
!.editorconfig
!.CMakeLists.txt
romman
